<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs%>
</head>
<body>
    
        <% include partials/navbar.ejs%>
    <h1>Player Info</h1><br />
    <div><%= info.fullName %></div>
    <% include partials/scripts.ejs %>
</body>
</html>